@import "header.scss";
@import "footer.scss";
@import "brands.scss";
@import "home/home.scss";
@import "aboutUs/about-us.scss";
@import "breadcrumb.scss";
@import "let-us-know.scss";
@import "contact/contact.scss";
@import "service/service.scss";
@import "project/project.scss";